* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    /* height: 40px; */
    background-color: rgb(110, 136, 136, 0.3);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
}

.page {
    width: 100%;
    height: 100vh;
    background-image: url(./image/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav1_div {
    width: 30%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    /* justify-content: space-around; */
}

.nav1_div>p:hover {
    padding: 2px;
    border: 2px solid grey;
    background: linear-gradient(rgb(36, 35, 35), rgb(97, 94, 94));
}

.nav2_div {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav2_div>ul li {
    display: inline-block;
    padding: 5px;
    /* margin: 5px; */
    color: black;
    font-weight: bold;
}

.nav2_div>ul a {
    text-decoration: none;
}

.nav2_div>ul li:hover {
    border: 2px solid rgba(53, 52, 52, 0.507);
    color: rgb(240, 16, 16);
    background-color: rgb(49, 47, 47, 0.3);
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(82, 78, 80, 0.1);
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.content>p {
    /* background-color: linear-gradient(red, blue);
    background-clip: text;
    color: transparent; */
    background: linear-gradient(to right, #080101 0%, #500c0c 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content>button {
    font-size: 15px;
}

.about_div {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    border: 4px solid rgb(90, 79, 79);
    font-weight: bold;
    background-color: #121111;
    word-wrap: break-word;
    background-image: linear-gradient(to bottom, rgb(235, 176, 176), rgb(248, 167, 167), rgb(243, 132, 132));
}

.about_div>div {
    text-align: center;
    width: 40%;
    padding: 5px;
}

.about_div>div p {
    color: rgb(6, 81, 86);
    border: 4px solid rgb(82, 87, 81);
    border-radius: 20px;
    word-spacing: 3px;
    background-color: rgb(207, 197, 182);
    font-size: 20px;
}

.about_div>div span {
    font-size: 25px;
    color: darkblue;
    text-decoration: underline;
}

.service_div {
    width: 100%;
    background-image: url(./image/back3.jpg);
    height: auto;
    background-size: cover;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.service_div>div {
    font-style: italic;
    border: 3px dashed rgb(59, 57, 57);
    border-radius: 10px;
    height: 300px;
    width: 30%;
    color: rgb(3, 21, 122);
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_div>div h1 {
    background-color: rgb(135, 205, 222, 0.2);
}

.h {
    text-align: center;
    background-image: radial-gradient(rgb(196, 133, 75), rgb(197, 120, 75));
    border: 2px solid black;
}

.s1 {
    background-image: url(./image/ca.png);
    background-size: cover;
}

.s2 {
    background-image: url(./image/tiffine.jfif);
    background-size: cover;
}

.s3 {
    background-image: url(./image/ld.jfif);
    background-size: cover;
}

.categ {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: linear-gradient(rgb(74, 124, 145), rgb(118, 118, 209), rgb(77, 77, 223));
    padding: 10px;
}

.categ>div {
    border: 3px dashed black;
    height: 200px;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(112, 5, 5);
}

.c1 {
    background-image: linear-gradient(rgb(216, 204, 204, 0.2), rgb(153, 146, 146, 0.2)), url(./image/chinesse.jfif);
    background-size: cover;
}

.c2 {
    background-image: linear-gradient(rgb(216, 204, 204, 0.2), rgb(153, 146, 146, 0.2)), url(./image/si.jfif);
    background-size: cover;
}

.c3 {
    background-image: linear-gradient(rgb(216, 204, 204, 0.2), rgb(153, 146, 146, 0.2)), url(./image/indian.jfif);
    background-size: cover;
}

.c4 {
    background-image: linear-gradient(rgb(216, 204, 204, 0.2), rgb(153, 146, 146, 0.2)), url(./image/sweets.jfif);
    background-size: cover;
}

.categ>div button {
    color: rgb(34, 44, 178);
    background-color: rgb(243, 117, 117);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-image: linear-gradient(rgb(212, 127, 46), rgb(235, 133, 37));
    border: 2px solid black;
}

.form>div table {
    font-size: 20px;
}

#s {
    text-align: center;
}


/* responsive............................ */

@media screen and (max-width:980px) and (min-width:712px) {
    .nav {
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px
    }
    .nav2_div {
        width: auto;
    }
    .about_div>div {
        width: 50%;
    }
    /* .content {
        left: 50vw;
        top: 50vh;
        margin: auto;
    } */
    .service_div>div {
        width: 45%;
        justify-content: space-around;
        margin-top: 5px;
        font-size: 12px;
    }
    .categ>div {
        width: 35%;
        flex-wrap: wrap;
        margin: 10px 0px 10px 0px;
    }
}

@media screen and (max-width:711px) {
    .nav2_div>ul a li {
        display: block;
        border: 1px solid rgb(77, 69, 69, 0.2);
    }
    .nav2_div>ul {
        border: 1px solid rgb(59, 52, 52, 0.1);
        background-image: linear-gradient(rgb(47, 44, 44, 0.2), rgb(12, 12, 12, 0.2));
        width: 100%;
    }
    .nav {
        flex-direction: column;
        justify-content: left;
    }
    .nav2_div {
        justify-content: left;
        width: 100%;
    }
    .about_div>div {
        width: 50%;
    }
    .service_div {
        flex-direction: column;
    }
    .service_div>div {
        width: 80%;
        justify-content: space-around;
        margin-top: 5px;
        font-size: 15px;
    }
    .categ>div {
        width: 50%;
        flex-wrap: wrap;
        margin: 10px 5px 10px 0px;
    }
}